canvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
    /*border: 1px dotted black;*/
}
.content:before {
content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;

    background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url("res/bg.png");
    /*background-image: url("res/news.jpg");*/
    width: 100%;
    height: 100%;
    /*-webkit-filter: blur(3px);*/
    /*-moz-filter: blur(3px);*/
    /*-o-filter: blur(3px);*/
    /*-ms-filter: blur(3px);*/
    /*filter: blur(3px);*/
}
* {
    margin:0;
}
